.productSummary {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-content: center;
    align-items: center;

}

.productSummaryImage {
    align-items: center;

    width: 30%;
}

.productSummaryInfo {
    align-items: stretch;
    margin-left: 20px;

}