.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.productImg {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.productInfo {
    margin-bottom: 10px;
    height: 100px;
}

.productPrice {
    margin-top: 5px;
}

.basketBtn {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734;
    color: #111;
}

.product:hover {
    transform: scale(1.05);
    transition-duration: 0.1s;
}